<h2>
  Welcome to Dashboard: <em>An Eager Loading Module</em>
</h2>
<p>When we load our application for the first time, the Dashboard Module along the Dashboard Component will be loaded in the
  browser and that is what we are seeing right here. Until this point, the lazy loading User Module has not being downloaded,
  only when we click the link Lazy Module the required code will be downloaded and we will see content of User Component
  in the browser.
</p>

<h4>
  <em>Well, my name is {{person.name}}. I love to develop Angular applications. Here goes my contact details:</em>
</h4>
<ul>
  <li>Name: <strong>{{person.name}}</strong></li>
  <li>Email: <strong>{{person.email}}</strong></li>
  <li>Address: <strong>{{address.street}} {{address.city}}, {{address.state}}</strong></li>
</ul>

<button (click)="onClick()">Show Full Name</button>
<button (click)="toggleEdit()">{{hideShow}}</button>

<div *ngIf=showUpdate>
  <h3>Update Info</h3>
  <form>
    <div>
      <label for="name">Name: </label><br>
      <input type="text" [(ngModel)]="person.name" name="name">
    </div>
    <div>
      <label for="age">Age: </label><br>
      <input type="number" [(ngModel)]="person.age" name="age">
    </div>
    <div>
      <label for="email">Email: </label><br>
      <input type="text" [(ngModel)]="person.email" name="email">
    </div>
    <div>
      <label for="street">Street: </label><br>
      <input type="text" [(ngModel)]="address.street" name="street">
    </div>
    <div>
      <label for="city">City: </label><br>
      <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <div>
      <label for="state">State: </label><br>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>
  </form>
</div>

<p>
  PS: If you think the information provided right here is not valid; 
  you should be able to click update info button to correct it.
</p>
<strong>Thank you!</strong>